// Colors
$black: #000;
$black-light: #5c5b5b;
$black-transparent: rgba(0, 0, 0, .5);
$blue: #23406b;
$blue1: #5481c5;
$grey: #d0d0d0;
$grey-dark: #696969;
$grey-focus: #e0e0e0;
$grey-light: #efefef;
$green: #4caf50;
$red: #f05b51;
$yellow: #ffeb3b;
$white: #fff;
